body {
    background-color: #f4f4f4; /* Fondo de un solo color */
    color: #333;
    font-family: Arial, sans-serif;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img {
    height: 50px; /* Ajusta el tamaño del logo según sea necesario */
    margin-left: 20px;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.profile-header {
    text-align: center;
    margin: 40px 0 20px; /* Ajustar el margen para separar el nombre del recuadro */
}

.profile-header h2 {
    margin: 0;
    font-size: 2.5em; /* Aumentar el tamaño del texto */
    color: #333;
}

.profile-container {
    max-width: 800px;
    margin: 0 auto 100px; /* Ajustar el margen inferior */
    padding: 20px;
    border-radius: 10px;
    background-color: #fff; /* Fondo blanco para el contenedor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    color: #333;
}

.profile-details p {
    margin: 10px 0;
    font-size: 1.2em;
    color: #666;
}

.profile-details strong {
    color: #333;
}