header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 100px 20px 20px 20px; /* Ajustar el padding superior para evitar que el contenido se oculte detrás del header */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Cambiar a flex-start para que el contenido comience desde la parte superior */
    min-height: calc(100vh - 160px); /* Ajustar la altura para incluir el header y footer */
    width: 100%;
}

.content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 1200px; /* Aumentar el ancho máximo */
    width: 100%;
    margin: 0 auto; /* Centrar el contenido */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: fixed; /* Ajustar el ancho de las columnas */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    word-wrap: break-word; /* Ajustar el contenido de las celdas */
}

th {
    background-color: #f2f2f2;
}

.dia {
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
}